
    <%- include('./includes/head.ejs') %>
    
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%- include('./includes/nav.ejs') %>
      </div>
    </div>
    <div class="row title">  
      <h1><%= title %></h1>
  </div>
  <main class="homepage">
       
      <section class="container-fluid">
        <div class="row game-info">
          <div class="column">
          <ul>
            <li>Like to play games?</li>
            <li>Add your favorite game playing family and friends to a group</li>
            <li>Choose your game</li>
            <li>Keep track of all your high and low scores</li>
            <li>Fight to beat the previous scores</li>
          </ul>
          </div>
          <div class="column scoreBackgroundImg"> 
            <img src="/images/scoreboard.jpg" alt="scoreboard example">          </div>
          
        </div>
      </section>
      </main>

      <%- include('./includes/footer.ejs') %>
      
  </body>
   <!-- <dib class="row"> -->
        
        <!-- <div class="btn-group">
          <a type="button" class="btn btn-md btn-default" href="shopPages/shop"><span class="fas fa-shopping-basket"></span> Shop</a>
          <a type="button" class="btn btn-md btn-default" href=""><span class="fas fa-chalkboard-teacher"></span> Join a Party</a>
          <a type="button" class="btn btn-md btn-primary" href=""><span class="fas fa-users"></span> Join my Team</a> 
        </div> -->
        
      <!-- </dib> -->
      

    