<% if (path === '/') { %>
<a href="/" class="active"> Home </a>
<% } else { %>
<a href="/"> Home </a>
<% } %> - <% if (path === '/game/all') { %>
<a href="/game/all" class="active"> All Games </a>
<% } else { %>
<a href="/game/all"> All Games </a>
<% } %> - <% if (path === '/game/add') { %>
<a href="/game/add" class="active"> Add Game </a>
<% } else { %>
<a href="/game/add"> Add Game </a>
<% } %>

<!-- 
- <% if (path === '/game/edit') { %>
<a href="/game/edit" class="active"> Edit Game </a>
<% } else { %>
<a href="/game/edit"> Edit Game </a>
<% } %> -->
