<% if (path === '/') { %>
<a href="/" class="active"> Home </a>
<% } else { %>
<a href="/"> Home </a>
<% } %> - <% if (path === '/game/all-games') { %>
<a href="/" class="active"> All Games </a>
<% } else { %>
<a href="/"> All Games </a>
<% } %> - <% if (path === '/game/add-game') { %>
<a href="/" class="active"> Add Game </a>
<% } else { %>
<a href="/"> Add Game </a>
<% } %> - <% if (path === '/game/edit-game') { %>
<a href="/" class="active"> Edit Game </a>
<% } else { %>
<a href="/"> Edit Game </a>
<% } %>
