<%- include('./includes/head.ejs') %>
    
  </head>

  <body>
    <%- include('./includes/nav.ejs') %>
    
    <main class="main-404">

    </main>
<div>
    <%- include('./includes/footer.ejs') %>
</div>
  </body>