    <%- include('./includes/head.ejs') %>
    
  </head>

  <body>
    <%- include('./includes/nav.ejs') %>
    <div class="main-500">
        <!-- <h2>Error 500 </h2> -->
    </div>

    <%- include('./includes/footer.ejs') %>