
    <%- include('./includes/head.ejs') %>
    
  </head>

  <body>
    <main>
    <div class="container-fluid">
      <div class="row">
        <%- include('./includes/nav.ejs') %>
      </div>
    </div>
  
      <div class="row title">      
        <h1>
          <%= title %>
        </h1>
      </div>
      </main>
    <div class="row">
      <%- include('./includes/footer.ejs') %>
    </div>
  </body>
   <!-- <dib class="row"> -->
        
        <!-- <div class="btn-group">
          <a type="button" class="btn btn-md btn-default" href="shopPages/shop"><span class="fas fa-shopping-basket"></span> Shop</a>
          <a type="button" class="btn btn-md btn-default" href=""><span class="fas fa-chalkboard-teacher"></span> Join a Party</a>
          <a type="button" class="btn btn-md btn-primary" href=""><span class="fas fa-users"></span> Join my Team</a> 
        </div> -->
        
      <!-- </dib> -->
      

    