* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

main {
  padding: 0;
  margin: auto;
  height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Road Rage", cursive;
}

p,
a,
li {
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: #d7263d;
  text-align: left;
}
.navbar .nav-link {
  color: white;
}
.title {
  background-image: url("../images/mario.jpg");
  background-position-x: -50px;
  background-position-y: 25%;
  background-size: cover;
  align-items: center;
}

.title h1 {
  text-align: right;
  color: white;
  font-size: 12.5vw;
  padding: 5% 10% 10% 50%;
}
.game-info {
  margin: 0 auto;
}
/* i {
  color: #046865;
} */
.all-games-page {
  justify-content: center;
  align-items: center;
}
.login-page .sign-up-div {
  margin: 2rem;
}
.main-404 {
  background-image: url(../images/404-small.jpg);
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  /* background-position-x: 50%; */
}
footer {
  background-color: #d7263d;
  color: white;
  margin: 0;
}
footer p {
  padding: 2em;
}
@media (min-width: 550px) {
  .main-404 {
    background-image: url("../images/404.jpg");
  }
}

@media (min-width: 600px) {
  title {
    height: 35vh;
  }
  /* .title h1 {
    /* margin: 2rem auto; */
  /* text-align: right;
    color: white;
    font-size: 12.5vw;
    padding: 5% 10% 10% 50%; } */
}
