
  .debug{margin-top: 30px;}
  .debug h3{text-align: center; border-bottom: 2px solid black; padding-bottom:20px;}
  .debug textarea{height: 150px;}
  .board-cont {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    background: white;
  }

  .score-title{}

  .link:hover{cursor: pointer;}
  
  .scoreboard {
    border: 1px solid #cbccce;
    background: #fff;
    
  }

.scoreboard .row{
 
  margin: 0px;
  
}
.row.top{border-bottom: 1px solid #cbccce;}
.scoreboard .row.top div{
  float: left;
  width: 25%;
}
.top{padding-top: 10px; padding-bottom: 10px; text-align: center;}

.top .total{text-align: right; }

.players{padding: none; max-height: 300px;
  overflow-y: auto;}
.player{border-bottom: 1px solid #cbccce; padding-top: 10px; padding-bottom: 10px;}
.player:last-child{}
.player div{float: left;}

.fa-times{color: red; text-decoration: none;}
.player__icon{width: 15%; margin-right: 10px;}
.player__date{width: 25%; margin-right: 10px;} 
.player__name{width: 30%;}
.player__total{width: 15%; text-align: right;}
.bottom{border-top: none; padding-top: 10px;
  padding-bottom: 10px;}



  .title-cont{}

  .fa-crown{color: goldenrod;}

  .fa-thumbs-down{color: red;}
  
  .hide{display: none;}